.main-chat
  .chat-top
    .chat-top__header-left
      
      %h1.chat-top__header-left__group
        = @group.name
      %ul.chat-top__header-left__member
        
        %li.chat-top__header-left__member__person
          Member:
          - @group.users.each do |user|
            = user.name

    .chat-top__edit 
      = link_to edit_group_path(@group), class: "editbtn" do
        Edit
  .chat-contents
    = render @messages
        
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message',placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'

